<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tamiya-Bi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script>
      if (localStorage.getItem('token').id) {
        $.ajax({
          method:'GET',
          url: `http://localhost:9999/home/${localStorage.getItem('token').id)}`
          localStorage.getItem('token').id ? localStorage.getItem('token'): console.log('sikat');
        })
      } else {
        alert ('login dulu atuh')
        window.location='http://localhost:9999/'
      } -->
      <script>
          if (localStorage.getItem('token')) {
             $.ajax({
                type: 'GET',
                url: `http://localhost:9999/users/${JSON.parse(localStorage.getItem('token')).id}`,
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                   JSON.parse(localStorage.getItem('token')).token === res[0].token ? console.log('ceeekek ok') : window.location = 'http://localhost:9999/'
                }
             })
          } else { window.location = 'http://localhost:9999/' }
       </script>
    </script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */

    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */

    .jumbotron {
      margin-bottom: 0;
    }
    .tr1 {
      width: 5cm;
    }

    /* Add a gray background color and some padding to the footer */

    footer {
      background-color: #c1a6ff;
      padding: 25px;
    }
  </style>
</head>

<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Tamiya-Bi</h1>
      <p>Lets get fun with your mini supercar</p>
    </div>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="">Home</a>
          </li>
          <li>
            <a href="http://localhost:9999/products">Products</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li >
            <a href="" class="dropdown-toggle open" data-toggle="dropdown" aria-expanded="false  "> 
              <span class="glyphicon glyphicon-shopping-cart"></span> Cart
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li>
                      <div class="table-responsive">          
                          <table  class="table table-hover "style="width:100%">
                            <thead >
                              <tr class="info ">
                                <th>#</th>
                                <th>Nama</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>                              
                              </tr>
                            </thead>
                            <tbody id="cart_list" >                            
                            </tbody>
                            <thead >
                              <tr>
                                <th></th>
                                <th></th>
                                <th ></th>
                                <th>Subtotal</th>
                                <th id="subtotal"></th>                              
                              </tr>
                            </thead>
                            <thead >
                              <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><button type="button" onclick="checkout()" class="btn btn-danger">Checkout</button></th>                              
                              </tr>
                            </thead>
                          </table>
                          </div>
                  </li>
                </ul>
          </li>
          <li>
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user dropdown-toggle"></span> Your Account
              <span class="caret"></span>
            </a>
            <ul id="editprofil" class="dropdown-menu">
              
              <li>
                <a href="http://localhost:9999/logout" id="logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="row" id="products">

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" align="center">Item Ditambahkan ke keranjang .</h4>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  <br>
  <br>

  <footer class="container-fluid text-center">
    <p>Tamiya-Bi Copyright</p>
    <form class="form-inline">Get deals:
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
  </footer>
<script>
let idu =JSON.parse(localStorage.getItem('token')).id
console.log(idu);


 let ambil = fetch(`http://localhost:9999/users/${idu}`);

ambil.then(function (res) {
  return res.json()
}).then(result => {
  result.map(dat => {
    $('#editprofil').append(
      `<li><a onclick=edit(${dat.id})>Edit Profile</a></li>`
    )
  })
})

function edit(params) {
              window.location=`http://localhost:9999/profil/?id=${params}`      
      }
</script>
  <script src="/product_event.js"></script>
  <script src="/user_even.js"></script>

</body>
</html>
