<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tamiya-Bi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    .jumbotron {
      margin-bottom: 0;
    }
    footer {
      background-color: #c1a6ff;
      padding: 25px;
    }
  </style>
</head>

<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Tamiya-Bi</h1>
      <p>Lets get fun with your mini supercar</p>
    </div>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="">Products</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="" id="alert_log" data-toggle="tooltip" title="Cart.">
              <span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
          </li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user dropdown-toggle"></span> Login
              <span class="caret"></span>
            </a>
            
            <ul class="dropdown-menu">
              <div >
              <li>    
                <form class="px-4 py-3" id="form_login">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                      </div>                 
                      <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                          <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                      </div>
                      <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                            Remember me
                          </label>
                        </div>
                      <button type="submit" class="btn btn-primary btn-sm">Sign in</button> | <a href="http://localhost:9999/users/register/">Signup here</a>
                </form>
              </li>
            </ul></div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row" >

            <form id="form" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email :</label>
                    <div class="col-sm-10">
                     <input class="form-control"  type="email" name="email" id="email" onchange="validate_email()"><span id="email-status" style="display: none;" >Email telah digunakan</span>
                    </div>
                </div>
                    
                <div class="form-group">
                        <label class="control-label col-sm-2" for="username">Username :</label>
                        <div class="col-sm-10">
                        <input class="form-control"  type="text" name="username" id="username" onchange="validate_username()" ><span id="username-status" style="display: none;" >Username telah digunakan</span>
                        </div>                        
                </div>
                    <div class="form-group"><label class="control-label col-sm-2" for="password">Password :</label>
                        <div class="col-sm-10"><input class="form-control" type="password" name="password"></div></div>
                    <div class="form-group"><label class="control-label col-sm-2" for="address">Address :</label>
                        <div class="col-sm-10"><textarea class="form-control" type="text" name="address"></textarea></div></div>
                    <div class="form-group"><label class="control-label col-sm-2" for="phone">Phone :</label>
                        <div class="col-sm-10"><input class="form-control" type="textarea" name="phone"></div></div>
                    <button align = 'right' type="submit" class="btn btn-primary" id="register">Register</button>
                </form>
    </div>
  </div>
  <br>
  <br>

  <footer class="container-fluid text-center">
    <p>Tamiya-Bi Copyright</p>
    <form class="form-inline">Get deals:
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      $("#form").submit(e => {
          let data = $("#form").serializeArray();
          $.ajax({
              method: "POST",
              url: "http://localhost:9999/users/register/input",
              data: data,
              success: function (result) {
                  alert (`
                            Register Berhasil ! 

                    Silahkan Login untuk Mulai belanja, dan 
                  
                        dapatkan promo menarik :)`)
                  window.location.href='http://localhost:9999/'
              }
          })
          e.preventDefault();
      })

      function validate_email() {
          let email = document.getElementById('email').value;
        
          if (email) {
              $.ajax({
                  type: 'post',
                  url: "http://localhost:9999/users/validate_email",
                  data: {
                      email:email
                  },
                  success: function (response) {
                      if(response){
                          $('#email-status').css('display','inline');
                          $('#register').prop('disabled',true);

                      }else{
                          $('#email-status').css('display','none');
                          $('#register').prop('disabled',false);
                      }
                      
                  }
              });
          }
      }

      function validate_username() {
          let username = document.getElementById('username').value;
          if (username) {
              $.ajax({
                  type: 'post',
                  url: "http://localhost:9999/users/validate_username",
                  data: {
                      username:username
                  },
                  success: function (response) {
                      if(response){
                          $('#username-status').css('display','inline');
                          $('#register').prop('disabled',true);

                      }else{
                          $('#username-status').css('display','none');
                          $('#register').prop('disabled',false);
                      }
                      
                  }
              });
          }
      }


  </script>
  <script>
    if (localStorage.getItem('token')) {
      $(document).onload(
        $.ajax({
          method:'GET',
          url: `http://localhost:9999/users/${JSON.parse(localStorage.getItem('token')).id}`,
          contentType: "application/json; charset=utf-8",
          success:function(result){
          JSON.parse(localStorage.getItem('token')).token ? window.location = 'http://localhost:9999/home': console.log('sikat')
          }
          })
        )
    } 
    
      
    </script>
</body>

</html>
   
   
