<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form id="register" name="register" method="post" action="/user/register">

        <label for="username">Username</label>
        <input name="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <label for="email">Email</label>
        <input class="text" name="email" type="email" />       
        <input class="btn" type="submit" value="Register" />
    </form>
</body>
</html>